body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.main-container {
    display: flexbox;
}

.slider-container {
    text-align: center;
}

input[type="range"] {
    width: 300px;
}

.charts {
    display: flex; /* Make the container use flex layout */
    justify-content: space-evenly; /* Distribute the canvases evenly across the container */
    gap: 20px; /* Optional: Adds space between each canvas */
    width: 100%; /* Ensure it takes the full width available */
    max-width: 800px; /* Optional: Limit the max width of the charts container */
}